{
  "env": {
    "commonjs": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "browser": true,
    "element": true,
    "by": true,
    "$": true,
    "allure": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-undef": 1,
    "no-var": 1,
    "semi": 1,
    "max-len": [1, {"code": 120}]
  }
}